@using MVCCRUDSHOP.ViewModels
@model UserViewModel
@{
    ViewBag.Title = "Change Password";
}
<h2>Change Password</h2>
<p>
    Use the form below to change your password.
</p>

<form action="/Account/ChangePassword" method="post">
    <div>
        <fieldset>
            <legend>Account Information</legend>
           
            <div class="editor-label">
                <label for="OldPassword">Current password</label>
            </div>
            <div class="editor-field">
                <input type="password" data-val="true" data-val-required="The Current password field is required." id="Password" name="Password" />
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-label">
                <label for="NewPassword">New password</label>
            </div>
            <div class="editor-field">
                <input type="password" data-val="true" data-val-length="The New password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="NewPassword" name="NewPassword" />
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-label">
                <label for="ConfirmPassword">Confirm new password</label>
            </div>
            <div class="editor-field">
                <input type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" />
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <p>
                <button type="button" onclick="changepassword()">Save</button>
            </p>
        </fieldset>
    </div>
</form>
