@model IEnumerable<MVCCRUDSHOP.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Category/Add" class="btn btn-primary">Create New</a><br>
</p>
<table class="table">
    <tr>
        <th>
            Category Id
        </th>
        <th>
            Category Name
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            <a href="/Category/Edit/@item.CategoryId" class="btn btn-info">Edit</a>|
            <a href="/Category/Delete/@item.CategoryId" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
